<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/register.css" type="text/css">
</head>

<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome</h3>
                <p>We are here to help you</p>

            </div>
            <div class="col-md-9 register-right">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading">Fill your details</h3>
                        <% include ./partials/messages %>
                            <form action="/Ddashboard/DeditProfile" method="POST" enctype="multipart/form-data">

                                <input type="hidden" name="userId" value=<%=user._id%>>
                                <div class="row register-form">

                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <input type="text" required class="form-control" name="name"
                                                placeholder="Enter your name *" value="<%=user.name%>" />

                                            <div class="form-group">
                                                <input type="text" required class="form-control" name="address"
                                                    placeholder="Address *" value="<%=user.address%>" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" required class="form-control" name="medicalSchool"
                                                    placeholder="Medical School Attended *"
                                                    value="<%=user.medicalSchool%>" />
                                            </div>

                                            <div class="form-group">
                                                <input type="text" required class="form-control" name="clinicAddress"
                                                    placeholder="Clinic Address *" value="<%=user.clinicAddress%>" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" required class="form-control" name="language"
                                                    placeholder="Language *" value="<%=user.language%>" />
                                            </div>
                                            <div class="form-group">
                                                <input type="email" required class="form-control" name="email"
                                                    placeholder="Your Email *" value="<%=user.email%>" disabled />
                                            </div>

                                            <div class="form-group">
                                                <div class="maxl">
                                                    <label class="radio inline">
                                                        <input type="radio" name="sex" value="<%=user.sex%>" checked>
                                                        <span> Male </span>
                                                    </label>
                                                    <label class="radio inline">
                                                        <input type="radio" name="sex" value="<%=user.sex%>">
                                                        <span>Female </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="date" required class="form-control" name="dateOfBirth"
                                                    placeholder="Date Of Birth *" value="<%=date%>" />

                                            </div>
                                            <div class="form-group">
                                                <input type="text" required class="form-control" name="yearsOfPractice"
                                                    placeholder="Years Of Practice *"
                                                    value="<%=user.yearsOfPractice%>" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" required class="form-control" name="speciality"
                                                    placeholder="Speciality *" value="<%=user.speciality%>" />
                                            </div>

                                            <div class="form-group">
                                                <p>Choose your clinic timings</p>
                                                <label for="st">From</label>
                                                <input type="time" id="st" name="startTime" value="<%=start%>" required>
                                                <label for="et">To</label>
                                                <input type="time" id="et" name="endTime" value="<%=end%>" required>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" minlength="10" required maxlength="10" name="phone"
                                                    class="form-control" placeholder="Your Phone *"
                                                    value="<%=user.phone%>" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="consultancyFees" class="form-control"
                                                    placeholder="ConsultancyFees *" value="<%=user.consultancyFees%>" />
                                            </div>

                                            <div class="form-group">
                                                <input type="password" required class="form-control" id="password"
                                                    name="password" placeholder="Password *"
                                                    value="<%=user.password%>" />
                                            </div>
                                            <div class="form-group">
                                                <input type="password" required class="form-control"
                                                    id="confirm_password" name="password2"
                                                    placeholder="Confirm Password *" value="<%=user.password%>" />
                                            </div>
                                            <button type="submit" class="btnRegister">Update</button>
                                        </div>

                                        <label for="photo">Want to Update you profile Pic?</label>
                                        <input type="checkbox" name="Dcheckbox">

                                        <p><input type="file" accept="image/png,image/jpeg,image/jpg" id="file"
                                                name="photo" onchange="loadFile(event)"></p>
                                        <p><label for="file" style="cursor: pointer;"></label>
                                        </p>
                                        <p><img id="output" width="200" /></p>




                                    </div>
                            </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script>
        var loadFile = function (event) {
            var image = document.getElementById(' output'); image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    <script>
        var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

    </script>
</body>

</html>