<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthCare</title>
    <style>
        .card {
          float:left;
          
        }
      </style>
</head>
<body>
    <h1>My Appointments</h1>
    <%data.forEach(function(user){%>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top"
        src="data:image/<%=user.doctorPhoto.contentType%>;base64,<%=user.doctorPhoto.data.toString('base64')%>"
        alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">
            Appointment with Dr. <%=user.doctorName%>
          </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Speciality: <%=user.doctorSpeciality%>
          </li>
          <li class="list-group-item">
            Address: <%=user.clinicAddress%>
          </li>
          <li class="list-group-item">
            <%= user.time.start.getHours()%>:<%= user.time.start.getMinutes()%> - <%= user.time.end.getHours()%>:<%= user.time.end.getMinutes()%>
          </li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">View Profile</a>
          <a href="#" class="card-link">Cancel Appointment</a>
        </div>
    </div>
    <% })%>

</body>
</html>