<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .card {
      float:left;
      
    }
  </style>

</head>

<body>


  <%data.forEach(function(user){%>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
        src="data:image/<%=user.photo.contentType%>;base64,<%=user.photo.data.toString('base64')%>"
        alt="Card image cap">
      <div class="card-body">
        <h3 class="card-title">
          Dr. <%=user.name%>
        </h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%=user.sex%>
        </li>
        <li class="list-group-item">
          <strong>Speciality: </strong> <%=user.speciality%>
        </li>
        <li class="list-group-item">
          <%=user.yearsOfPractice%>
        </li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">View Profile</a>
        <a href="/Pdashboard/makeAnAppoitment/<%= user._id %>" class="card-link">make an Appointment</a>
      </div>
    </div>
    <% })%>

</body>

</html>